h3{
    font-size:25px !important;
    width:50%;
    padding:5px;
}
.btn-danger:hover{
    background-color:darkorange;
}
canvas{
    animation-name:example;
    animation-duration:3s;
    animation-iteration-count:infinite;
}
@keyframes example{
    from{box-shadow:1px 1px 38px gold;}
    to{box-shadow:1px 1px 38px steelblue;}
}